

.footer {
    display: flex;
    width: 70%;

    & > div {
        display: grid;
        border-top: 2px solid rgba(0,0,0,0.1);
        color: var(--techQ-dark-main-color);
        font-size: 1em;
        margin-right: 50px;
        padding-top: 20px;
        width: fit-content;
    }

    & img {
        width: 100px;
    }
}

.linkedin img, .xing img {
    width: 100%;
}


.footer-social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    // margin-top: 20px;
}

// .connect {
//     margin-bottom: -10px;
// }