@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
* {
    font-family: 'Barlow', sans-serif;
}

span, h1, h2, h3, h4, h5 {
    color: #343435;
}

body {
    text-rendering: optimizeSpeed;
line-height: 1.5;
}