
.portfolio-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

// Default styles--------------------------------------------------------------

.home-parallax-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: center;
    display: flex;

    & > img {
        margin-right: 20px; 
        margin-top: 270px;
        width: 1900px;
        height: 450px;
    }
}


.home-bottom-section {
    margin-top: 200px;
    z-index: 1;

    & > div {
        display: flex;
        width: 100%; 
        height: 100vh; 
        justify-content: center; 
        align-items: center;
    }
}

.home-contact-info {
    position: relative;
    display: flex;
    flex-direction: column;

    & > svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.home-contact {
    display: flex;
    align-items: baseline;

    & > span {
        font-size: 5em;
        border-bottom: 2px;
        color: var(--techQ-dark-main-color);
        border-bottom: 3px dotted #343435;
        width: fit-content;
        margin-left: 1em;
        margin-bottom: 2em;
    }
}

.home-contact-info-left {
    margin-top: 200px;

    & :first-child {
        margin-bottom: 0.7em;
    }
}

// -----------------------------------------------------------------

.projects {
    z-index: 1;
    width: 100%;
    display: grid;
    row-gap: 300px;
    margin-top: 200px;
}